/* Layout: Desktop, Windows container, and general layout rules */
#desktop {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url('../images/wallpapers/1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
}

#windows-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 40px);
    pointer-events: none;
}

#windows-container .window {
    pointer-events: auto;
}